.NavBar {
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.NavLink {
  padding: 5px;
  font-size: 1rem;
}

.Active i {
  color: #2142b2;
}

.NavLink {
  padding: 5px;
  font-size: 1rem;
}

@media (max-width: 576px) {
  .NavLink {
    font-size: 0.8rem;
    padding: 3px;
  }

  .NavBar {
    padding-top: 5px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .NavLink {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .NavLink {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .NavLink {
    font-size: 1.1rem;
  }
}

.Active i {
  color: #2142b2;
}
