.ProfileContainer {
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
}

.TrackSection {
  margin-top: 20px;
}

.TrackItem {
  position: relative;
  margin-bottom: 20px;
}

.TrackImage {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
}

.TrackTitle {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.TrackCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayButton {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 15px;
  font-size: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-65%, -50%);
  transition: background-color 0.3s ease;
}

.PlayButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.PlayButton i {
  transition: transform 0.2s ease;
}

.PlayButton:hover i {
  transform: scale(1.1);
}

.SectionHeader {
  font-family: 'Impact', sans-serif;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.TracksList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TrackDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.TrackImage {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}

.TrackContainer .d-flex {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.text-white {
  color: white;
}

.TrackContainer .d-flex {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.EventsSection {
  margin-top: 20px;
}

.EventTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.EventItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.EventItem h5 {
  font-size: 1.3rem;
  color: #333;
}

.EventItem p {
  font-size: 1rem;
  color: #555;
}

.SectionHeader {
  font-family: 'Impact', sans-serif;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.EventsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.EventsSection .no-events {
  text-align: center;
  font-style: italic;
  color: #777;
}
