.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px; 
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 200px;
      height: 200px;
    }
  }

  .ProfilePage {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .ProfilePage .text-center {
    text-align: center;
  }
  
  .Details {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
  }
  
  