.infoBox {
  color: #ffffff !important;
  text-align: center;
  margin: 30px auto;
  max-width: 600px;
}

.link {
  color: #ffffff !important;
  font-weight: 500;
  transition: text-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.link:hover {
  text-shadow: 0 0 10px #0ff;
  transform: scale(1.05);
}

.SearchBar input {
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
  font-size: 0.75rem;
  width: 100%;
}

.SearchIcon {
  position: absolute;
  font-size: 0.75rem;
  padding: 9px;
  padding-left: 17px;
  z-index: 1;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}


.TrackContainerRow {
  margin-left: -5px;
  margin-right: -5px;
}

.TracksPageContainer {
  margin-left: -5px;
  margin-right: -5px;
}

.TrackCol {
  padding-left: 5px;
  padding-right: 5px;
}

.TrackContainer {
  position: relative;
  max-width: 100%;
  margin: 5px 0;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  box-sizing: border-box;
}

.TrackHeader {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.TrackTitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
}

.TrackCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  position: relative;
}

.ProfileName {
  flex: 1;
  text-align: left;
  font-size: 0.75rem;
}

.TrackTitleWrapper {
  flex: 2;
  text-align: center;
}

.PlayButton {
  background: none;
  border: none;
  cursor: pointer;
}

.TrackFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

.TrackOwner {
  color: black;
}

.UpdatedAt {
  flex: 1;
  text-align: right;
  font-size: 0.4rem;
  color: lightgray;
}

.StarRating {
  display: flex;
  align-items: center;
}

.AverageRating {
  font-size: 0.75rem;
  font-weight: bold;
  right: 10px;
  bottom: 10px;
  color: #ffec40;
  background: linear-gradient(45deg, #f7e5ad, #ffeb78, #ffec40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.Star {
  font-size: 14px;
  background: linear-gradient(45deg, #f7e5ad, #ffeb78, #ffec40);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffec40;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.fas,
.far {
  margin-right: 5px;
}

.dropdown-item {
  font-size: 0.25rem;
  padding: 5px 10px;
}

.rating-dropdown .btn-link {
  font-size: 0.5rem;
  padding: 5px 10px;
}

.rating-dropdown .dropdown-menu {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  width: 120px;
}

.rating-dropdown .dropdown-menu {
  left: 0 !important;
  right: auto !important;
  transform: translateY(5px);
}

.DropdownWrapper {
  flex: 0;
}

@media (max-width: 768px) {
  .SearchBar input {
    font-size: 0.75rem;
  }

  .TrackImage {
    height: 200px;
  }

  .TrackFooter {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  .TrackCenter {
    padding: 40px;
  }

  .TrackTitle {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .TrackFooter {
    font-size: 0.9rem;
  }

  .TrackImage {
    height: 300px;
  }
}

@media (min-width: 576px) {
  .TracksPageContainer {
    margin: 20px;
  }
}

@media (min-width: 768px) {
  .TracksPageContainer {
    margin: 30px;
  }
}

@media (min-width: 1200px) {
  .TracksPageContainer {
    margin: 40px;
  }
}

.additionalInfoSection {
  margin-bottom: 1.5rem;
}

.infoCardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.infoCard {
  position: relative;
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  color: #252525;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.iconBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.05);
  z-index: 0;
  pointer-events: none;
}

@media (min-width: 992px) {
  .iconBackground {
    font-size: 10rem;
  }
}

.infoHeader,
.infoText,
.learnMoreLink {
  position: relative;
  z-index: 1;
}

.infoImage {
  width: 100%;
  height: 20rem;
  background-image: url("https://res.cloudinary.com/dmylma7bf/image/upload/v1748115940/hero-20_mtse8s.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.99;
  z-index: 0;
  filter: blur(3px);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

.infoCol {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.infoHeader {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: 'Exo 2' sans-serif;
  text-transform: uppercase;
}

.infoText {
  color: black;
  font-size: 0.75rem;
}

.heroSection {
  position: relative;
  text-align: center;
  padding: 4rem 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://res.cloudinary.com/dmylma7bf/image/upload/v1748013882/hero-1_pluukn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  opacity: 0.99;
  z-index: 0;
  filter: blur(3px);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

.heroText,
.heroSubtext {
  position: relative;
  z-index: 1;
}

.heroText {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.heroSubtext {
  color: #e0e0e0;
  max-width: 600px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .heroSection::before {
    background-position: center 30%;
  }
}

@media (max-width: 767.98px) {
  .infoCol {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0.5rem;
    padding-bottom: 1rem;
  }

  .infoCardWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .infoCardWrapper > * {
    flex: 0 0 100%;
  }

  .infoCard {
    min-height: 150px;
  }

  .heroSection {
    margin-bottom: -0.5rem;
  }
}

  .infoCol:last-child {
    margin-bottom: 0;
  }

  .iconCenter {
    font-size: 2rem;
    text-align: center;
  }
  
  .titleCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
  }
  
  .learnMoreLink {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.7rem;
    color: red;
    cursor: pointer;
    text-align: left;
  }
  
  .alignStretch {
    align-items: stretch;
  }

  