.FormContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 1200px) {
  .FormContainer {
    padding: 20px 30px;
  }
}

@media (max-width: 768px) {
  .FormContainer {
    padding: 15px 20px;
  }
}

.ImageSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
}

.CustomButton {
  font-size: 0.75rem;
  margin: 10px;
  border-radius: 4px;
}
