.TrackBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px; /* Reduced from 10px to 5px */
}

.RatingContainer,
.CommentsContainer {
  display: flex;
  align-items: center;
}

.RatingNumber {
  font-weight: bold;
  margin-left: 2.5px; /* Reduced from 5px to 2.5px */
  font-size: 0.5rem; /* Reduced from 1rem to 0.5rem */
}

.Star {
  color: #f85032;
  font-size: 0.5rem; /* Added to scale stars down */
}

.Star:hover {
  color: #2142b2;
}

.StarOutline:hover {
  color: #f85032;
}
