.Container {
    min-height: 343px;
  }

.ImageSmall {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 10px 0;
  display: block;
  object-fit: contain;
}

.FormContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
