.sidebar {
  position: fixed;
  height: 100%;
  width: 60px; /* Start with a small width */
  background-color: black !important;
  color: white !important;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.expanded {
  width: 200px; /* Expanded state */
}

.sidebarToggle {
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  transition: color 0.3s ease;
}

.sidebarToggle:hover {
  color: #9933ff;
}

.sidebar a {
  color: #66ff66 !important;
  display: block;
  padding: 10px;
  transition: color 0.3s;
  opacity: 0; /* Hide links when collapsed */
  visibility: hidden; /* Hide links when collapsed */
  transition: opacity 0.3s, visibility 0.3s;
}

.sidebar.expanded a {
  opacity: 1; /* Show links when expanded */
  visibility: visible; /* Show links when expanded */
}

.sidebar h3 {
  color: #00ffcc;
  text-align: center;
  margin-top: 20px;
  transition: opacity 0.3s ease;
}

.sidebar.expanded h3 {
  opacity: 1; /* Show the header when expanded */
}

.sidebar .nav-item {
  margin-top: 10px;
}
