.Row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: left;
    padding: 10px;
  }
  
  .Header {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #9933ff;
    margin-bottom: 30px;
  }
  
  @media (max-width: 768px) {
    .Header {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
  
  @media (max-width: 576px) {
    .Header {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 12px;
  }
  
  .Link span {
    color: #9933ff;
  }
  
  .Container {
    padding: 30px 15px;
  }

  .SmallPaddingContainer {
    padding: 10px !important;
  }
  
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }
  
  .FormGroup {
    margin-bottom: 20px;
  }
  