.customNavbar {
  padding: 1rem;
  background-color: #343a40 !important; /* Overriding Bootstrap bg-dark */
}

.navbar-toggler {
  border-color: #00ffcc !important;
}

.navLink {
  font-size: 1rem;
  color: #00ffcc !important;
  padding: 10px 20px;
  text-decoration: none; /* Remove the underline from the links */
}

.brand {
  color: #00ffcc !important;
  font-size: 24px;
}

@media (max-width: 768px) {
  .customNavbar {
    padding: 0.5rem 1rem;
  }

  .signin-form-container {
    width: 80%;
    right: 0;
    top: 50px;
  }
}
